/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.timeline {
		width: 100%;
	   padding: 4em 0 1em 0;
   }
   
   .timeline li {
	   padding: 2em 0;
   }
   
   .direction-l,
   .direction-r {
	   float: none;
	   width: 100%;
	   text-align: center;
   }
   
   .flag-wrapper {
	   text-align: center;
   }
   
   .flag {
	   background: rgb(255,255,255);
	   z-index: 15;
   }
   
   .direction-l .flag:before,
   .direction-r .flag:before {
	 position: absolute;
	 top: -30px;
	 left: 50%;
	   content: ' ';
	   display: block;
	   width: 12px;
	   height: 12px;
	   margin-left: -6px;
	   background: #fff;
	   border-radius: 10px;
	   border: 3px solid #bc7a00;
	   z-index: 10;
   }
   
   .direction-l .flag:after,
   .direction-r .flag:after {
	   content: "";
	   position: absolute;
	   left: 50%;
	   top: -8px;
	   height: 0;
	   width: 0;
	   margin-left: -8px;
	   border: solid transparent;
	   border-bottom-color: rgb(255,255,255);
	   border-width: 8px;
	   pointer-events: none;
   }
   
   .time-wrapper {
	   display: block;
	   position: relative;
	   margin: 4px 0 0 0;
	   z-index: 14;
   }
   
   .direction-l .time-wrapper {
	   float: none;
   }
   
   .direction-r .time-wrapper {
	   float: none;
   }
   
   .desc {
	   position: relative;
	   margin: 1em 0 0 0;
	   padding: 1em;
	   background: rgb(245,245,245);
	   -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	   -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	   box-shadow: 0 0 1px rgba(0,0,0,0.20);
	   
	 z-index: 15;
   }
   
   .direction-l .desc,
   .direction-r .desc {
	   position: relative;
	   margin: 1em 1em 0 1em;
	   padding: 1em;
	   
	 z-index: 15;
   }

   .skill_container {
	   height: 360px;
   }
   
   
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.resume_container .right,
	.resume_container .right h3,
	.resume_container .right .resume_icon {
		padding-left: 10px; 
	}

	.personal_last_block{
		margin-top: 35px;
	}

	.skill_container {
		height: auto;
		margin-bottom: 20px;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.person {
		margin-bottom: 60px;
	}

	.personal_last_block h3,
	.personal_last_block h2 {
		margin-bottom: 20px;
	}

	.personal_header {
		text-align: center !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.resume_container .left h3,
	.resume_container .left .resume_icon {
		text-align: left;
		margin-bottom: 10px; 
	}

	
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em; 
		padding-left: 10px;
		padding-right: 10px; 
	}
	.main_footer{
		text-align: left;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul{ 
		padding-left: 0 
	}

	.direction-l .desc,
	.direction-r .desc {
	margin: 1em 4em 0 4em;
	}

	.flag {
		max-width: 10px;
		overflow: hidden;
	}

	.small_screen {
		display: inline;
	}

	.big_screen {
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.resume_item .right{
		margin-left: 10px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.skill_container:hover {
	transform: scale(1.1);
	color: #bc7a00;
	border: 2px solid #bc7a00;
	transition: 0.3s;
	}
	.skill_container:hover > p {
		transition: 0.3s;
		color: #bc7a00
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}