body {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  letter-spacing: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.top_line {
  padding: 10px 0; }

.top_menu {
  z-index: 10;
  position: fixed;
  width: 100%; }

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  nav ul li {
    display: inline-block; }

.main_head {
  z-index: 0;
  height: 720px; }

.main_mnu {
  float: right;
  text-align: center;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 1em;
  letter-spacing: 0; }
  .main_mnu ul li:last-child a {
    padding-right: 0; }
  .main_mnu ul li a {
    display: block;
    padding: 10px 18px; }
    .main_mnu ul li a:hover {
      color: #000;
      text-decoration: underline; }

.home {
  z-index: 5;
  background: url("../assets/bg/Shape1@1x.svg") no-repeat left top, url("../assets/bg/Shape2@1x.svg") no-repeat left top;
  min-height: 400px;
  min-width: 400px;
  -webkit-filter: drop-shadow(1px 1px 1px black);
          filter: drop-shadow(1px 1px 1px black);
  padding-top: 5%; }

.top_wrapper {
  min-height: 100%; }

.countdown {
  border: 0.5px solid #d3d3d3;
  border-radius: 10%; }

.top_wrapper_countdown {
  font-family: "OpenSans-Light", sans-serif; }
  .top_wrapper_countdown ul {
    margin: 0;
    padding: 0; }
    .top_wrapper_countdown ul li {
      padding: 5px 10px;
      font-family: "OpenSans-Light", sans-serif;
      font-size: 1.25em;
      margin: 0;
      list-style-type: none;
      text-decoration: none;
      display: inline; }

.top_wrapper_text {
  font-family: "OpenSans-Light", sans-serif; }
  .top_wrapper_text h1 {
    padding: 15% 0;
    line-height: 50px; }
  .top_wrapper_text form {
    border-radius: 30px; }
    .top_wrapper_text form i {
      display: none; }

input {
  font-family: "OpenSans-Light", sans-serif;
  padding: 13px;
  border-radius: 30px;
  font-size: 1.25em;
  border: none; }

.input_email {
  width: 70%;
  position: relative;
  padding-left: 20px; }

.input_submit {
  width: 30%;
  position: relative;
  float: right; }

.button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 51%;
  top: 130px;
  position: absolute; }
  .button:hover {
    background-color: #d3d3d3; }
  .button i {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%); }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none; }

.modal_content {
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  height: 40%; }

.closebtn {
  float: right;
  font-size: 30px; }

.closebtn:hover, .closebtn:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.top_wrapper_video {
  position: relative;
  margin-top: 5%;
  height: 100%;
  overflow: hidden; }

.video_content {
  position: relative;
  display: block;
  margin-top: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .video_content img {
    height: 327px;
    float: right; }

.social {
  float: right;
  margin-top: 40px;
  height: 110px;
  padding-right: 13px; }
  .social h3 {
    float: right;
    font-family: "OpenSans-Light", sans-serif;
    margin: 2%; }

.social_icons {
  padding: 0; }
  .social_icons a {
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    float: right; }

.icon {
  float: right;
  margin: 10px;
  position: relative; }

.icon1 {
  background: url("../assets/social icons/Twitter@1x.svg") no-repeat;
  margin-right: 0; }

.icon2 {
  background: url("../assets/social icons/Facebook@1x.svg") no-repeat; }

.icon3 {
  background: url("../assets/social icons/Medium@1x.svg") no-repeat; }

.icon4 {
  background: url("../assets/social icons/Github@1x.svg") no-repeat; }

.icon5 {
  background: url("../assets/social icons/Telegram@1x.svg") no-repeat; }

.team {
  margin: 80px 0;
  font-family: "OpenSans-Light", sans-serif;
  position: relative; }
  .team h2 {
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase; }
  .team h3, .team h5 {
    text-align: center; }
  .team h3 {
    margin-bottom: 0; }
  .team h5 {
    margin-top: 0; }
  .team p {
    font-family: "OpenSans-SemiBold", sans-serif;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin: 20px auto; }
  .team a {
    padding: 0 5px;
    margin: 5px;
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer; }

.profiles {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.profile_facebook {
  background: url("../assets/profil/Facebook@1x.svg") no-repeat;
  background-position: center; }

.profile_linkedin {
  background: url("../assets/profil/linkedin@1x.svg") no-repeat;
  background-position: center; }

.photo1 {
  background: url("../assets/img/profile1.jpg") no-repeat; }

.photo2 {
  background: url("../assets/img/profile4.jpg") no-repeat; }

.photo3 {
  background: url("../assets/img/profile2.jpg") no-repeat; }

.photo4 {
  background: url("../assets/img/profile3.jpg") no-repeat; }

.team_photo {
  background-size: cover;
  height: 140px;
  width: 140px;
  border-radius: 20px;
  margin: 0 auto; }

.mobile {
  display: none; }

.slider {
  max-width: 500px;
  position: relative;
  margin: auto; }

.slider_nav {
  margin-top: 30px; }

/* Hide the slides by default */
.slides {
  display: none; }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #c6cdff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #263396; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.contact_content {
  padding: 50px 0 0;
  font-family: "OpenSans-Regular", sans-serif; }

.contact_btn {
  float: right;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1em;
  border: none;
  cursor: pointer; }

.contact_text {
  text-align: center; }
  .contact_text p {
    font-size: 0.95em;
    padding: 0 38%; }
  .contact_text a {
    text-decoration: underline; }

.footer_links {
  position: relative;
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 50px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-rows: 30px; }
  .footer_links a p, .footer_links p {
    margin: 0;
    padding: 5px 0; }

.faq {
  border-left: 2px solid #6acbff;
  border-right: 2px solid #6acbff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.terms {
  border-right: 2px solid #6acbff;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.priv {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

/*# sourceMappingURL=main.css.map */